<!-- MENU -->
<nav class="menu navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <div class="menu-items">
            <div class="menu-item">
                <a class="btn btn-secondary" routerLink="/" ariaCurrentWhenActive="page">Home</a>
            </div>
            <div class="menu-item">
                <a class="btn btn-secondary" routerLink="/create-contract" ariaCurrentWhenActive="page">Crear un
                    Contrato</a>
            </div>
            <div class="menu-item">
                <a class="btn btn-secondary" routerLink="/contracts" ariaCurrentWhenActive="page">Ver Contratos</a>
            </div>
        </div>
    </div>
</nav>
<!-- MENU END -->